<template>
  <div>
    <b-card-title
      >{{ $t("ClientEdit.title") }}
      <b-icon icon="person-fill" aria-hidden="true"></b-icon>
    </b-card-title>
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      v-if="show"
      label-cols-lg="3"
      label="Shipping Address"
      label-size="lg"
      label-class="font-weight-bold pt-0"
      class="mb-0"
      style="position: relative"
    >
      <div class="row mb-2">
        <b-form-input
          class="col-sm"
          ref="nomfr"
          v-model="form.nomfr"
          required
          :placeholder="$t('ClientEdit.fr')"
        ></b-form-input>
        <b-form-input
          class="col-sm ml-2"
          ref="nom"
          v-model="form.nom"
          required
          @focus="memorizeInput('nom')"
        ></b-form-input>
        <label for="nom" class="col col-lg-2">{{ $t("ClientEdit.nom") }}</label>
      </div>

      <div class="row mb-2">
        <b-form-input
          class="col-sm"
          ref="prenomfr"
          v-model="form.prenomfr"
          required
          :placeholder="$t('ClientEdit.fr')"
        ></b-form-input>
        <b-form-input
          class="col-sm ml-2"
          ref="prenom"
          v-model="form.prenom"
          required
          @focus="memorizeInput('prenom')"
        ></b-form-input>
        <label for="prenom" class="col col-lg-2">{{
          $t("ClientEdit.prenom")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-input
          class="col-sm"
          ref="cin"
          v-model="form.cin"
          required
        ></b-form-input>
        <label for="cin" class="col col-lg-2">{{ $t("ClientEdit.cin") }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-input
          class="col-sm"
          ref="dateNaissance"
          v-model="form.dateNaissance"
          required
          placeholder="14/03/1990"
        ></b-form-input>
        <label for="dateNaissance" class="col col-lg-2">{{
          $t("ClientEdit.dateNaissance")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-textarea
          class="col-sm"
          ref="adresse"
          v-model="form.adresse"
          required
          @focus="memorizeInput('adresse')"
        ></b-form-textarea>
        <label for="adresse" class="col col-lg-2">{{
          $t("ClientEdit.adress")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-input
          class="col-sm"
          ref="phoneNumber"
          v-model="form.phoneNumber"
          required
        ></b-form-input>
        <label for="phoneNumber" class="col col-lg-2">{{
          $t("ClientEdit.phoneNumber")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-input
          class="col-sm"
          ref="email"
          v-model="form.email"
          required
        ></b-form-input>
        <label for="email" class="col col-lg-2">{{
          $t("ClientEdit.email")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-textarea
          class="col-sm"
          ref="commentaire"
          v-model="form.commentaire"
          @focus="memorizeInput('commentaire')"
        ></b-form-textarea>
        <label for="commentaire" class="col col-lg-2">{{
          $t("ClientEdit.commentaire")
        }}</label>
      </div>

      <b-button type="submit" variant="primary">{{
        $t("ClientEdit.submit")
      }}</b-button>
      <b-button type="reset" variant="danger">{{
        $t("ClientEdit.clean")
      }}</b-button>
    </b-form>
    <b-card class="mt-3">
      <!-- <pre class="m-0">{{ form }}</pre> -->
      <div class="row">
        <b-button type="reset" @click="inputArabic = ''">{{
          $t("ClientEdit.clean")
        }}</b-button>

        <b-form-input
          class="col-sm"
          :placeholder="$t('ClientEdit.saisieAr')"
          v-model="inputArabic"
        ></b-form-input>
      </div>

      <SimpleKeyboard
        layout="arabic"
        @onChange="onChange"
        @onKeyPress="onKeyPress"
        :input="inputArabic"
      />
    </b-card>
  </div>
</template>

<script>
import SimpleKeyboard from "@/components/SimpleKeyboard";
export default {
  components: {
    SimpleKeyboard,
  },
  data() {
    return {
      inputArabic: "",
      updatingInput: null,
      typing: 0,
      oldValue: "",
      form: {
        email: "",
        nom: "",
        prenom: "",
        nomfr: "",
        prenomfr: "",
        cin: "",
        adresse: "",
        phoneNumber: "",
        commentaire: "",
        dateNaissance: "",
      },
      show: true,
    };
  },
  methods: {
    onChange(input) {
      this.inputArabic = input;
      if (this.updatingInput) {
        if (this.typing === 0) {
          this.oldValue = this.form[this.updatingInput];
          this.typing++;
          this.form[this.updatingInput] += input;
        } else {
          this.form[this.updatingInput] = this.oldValue + input;
        }
      }
    },
    onKeyPress(input) {
      console.log("button ", input);
    },
    memorizeInput(ref) {
      this.inputArabic = "";
      switch (ref) {
        case "nom":
        case "prenom":
        case "adresse":
        case "commentaire":
          this.updatingInput = ref;
          this.typing = 0;
          this.oldValue = "";
          break;
        default:
          this.updatingInput = null;
          break;
      }
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.nom = "";
      this.form.prenom = "";
      this.form.nomfr = "";
      this.form.prenomfr = "";
      this.form.cin = "";
      this.form.adresse = "";
      this.form.phoneNumber = "";
      (this.form.commentaire = ""), (this.form.dateNaissance = null);
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>