<template>
  <div>
    <div class="client-global"><ClientList type="all" /></div>
  </div>
</template>
<script>
import ClientList from "@/components/ClientList";

export default {
  name: "client-global",
  components: {
    ClientList
  }
};
</script>
