<template>
  <div class="container-fluid">
    <div class="col">
      <div class="form-inline">
        <b-input-group-prepend is-text>
          <b-icon icon="search"></b-icon>
        </b-input-group-prepend>
        <b-form-input
          type="search"
          :placeholder="$t('Codification.searchPlaceholder')"></b-form-input>
        <b-input-group-prepend v-b-toggle.collapse-1 is-text>
          <b-icon icon="keyboard"></b-icon>
        </b-input-group-prepend>
      </div>
      <b-collapse id="collapse-1" class="mt-2">
        <b-card>
          <SimpleKeyboard
            layout="arabic"
            @onChange="onChange"
            @onKeyPress="onKeyPress"
            :input="input"
          />
        </b-card>
      </b-collapse>
    </div>

    <div id="key">
      <input
        :value="input"
        class="input"
        @input="onInputChange"
        placeholder="Tap on the virtual keyboard to start"
      />
      <SimpleKeyboard
        layout="arabic"
        @onChange="onChange"
        @onKeyPress="onKeyPress"
        :input="input"
      />
    </div>

    <div class="form-inline justify-content-center">
      <div class="row" style="display: contents">
        <div class="col" :disabled="codifications.length > 0 && !isLoading">
          <paginate
            v-model="currentPage"
            :page-count="pagination.totalPages"
            :click-handler="clickCallback"
            :prev-text="$t('ClientList.prev')"
            :next-text="$t('ClientList.next')"
            :container-class="'pagination'"
            page-class="page-item page-link"
            next-class="next-class"
            :page-range="4"
            :margin:page="2">
          </paginate>
        </div>
        <div class="col" v-if="codifications.length > 0 && !isLoading">
          <label>
            {{ $t("Codification.searchResult") }} {{ pagination.totalResults }}
            {{ $t("Codification.resultsFound") }} {{ pagination.totalPages }}
            {{ $t("Codification.pages") }}
          </label>
        </div>
        <div v-else class="col">
          <label>{{ $t("Codification.noResultsFound") }}</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div v-if="codifications.legth > 0"></div>
      <div v-else class="row">
        <div style="text-align: center">
          <label>{{ $t("Codification.messageNoResultsFound") }}</label>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SimpleKeyboard from "@/components/SimpleKeyboard";

export default {
  components: {
    SimpleKeyboard,
  },
  data() {
    return {
      input: "",
      currentPage: 1,
      codifications: [],
      isLoading: false,
      pagination: {
        totalResults: 10,
        totalPages: 2,
        currentPage: 1,
        pageSize: 20,
      },
    };
  },
  methods: {
    onChange(input) {
      this.input = input;
    },
    onKeyPress(button) {
      console.log("button", button);
    },
    onInputChange(input) {
      this.input = input.target.value;
    },
  },
};
</script>