<template>
      <div class="row" style="background-color: #18BC9C">
        <div class="col ml-5 mr-3" style="background-color: white">
          <b-card bg-variant="light">
          <router-view />
          </b-card>
        </div>
        <!-- TODO
          <div class="col col-lg-2" v-if="isAuthenticated">
        -->
        <div class="col col-lg-2">
            <AppSidebar />
        </div>
      </div>
</template>

<script>
// @ is an alias to /src
import AppSidebar from "@/components/Sidebar.vue";
import { mapGetters } from 'vuex';
export default {
  name: "Home",
  components: {
    AppSidebar,
  },  
  computed: {
    ...mapGetters(["isAuthenticated"]),
  },
};
</script>
<style scoped>
.wrapper {
  display: flex;
 width: 100%;
}
</style>
