<template>
  <div>
    <b-card-title
      >{{ $t("ComplaintEdit.title") }}
      <b-icon icon="archive-fill" aria-hidden="true"></b-icon>
      <b-icon icon="bookmark-plus" aria-hidden="true"></b-icon>
    </b-card-title>
    <b-form
      @submit="onSubmit"
      @reset="onReset"
      v-if="show"
      label-cols-lg="3"
      label="Shipping Address"
      label-size="lg"
      label-class="font-weight-bold pt-0"
      class="mb-0"
      style="position: relative"
    >
      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-input
          class="col-sm"
          ref="cin"
          v-model="form.numero"
          required
        ></b-form-input>
        <label for="numero" class="col col-lg-2">{{
          $t("ComplaintEdit.numero")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-textarea
          class="col-sm"
          ref="sujet"
          v-model="form.sujet"
          required
          @focus="memorizeInput('sujet')"
        ></b-form-textarea>
        <label for="sujet" class="col col-lg-2">{{
          $t("ComplaintEdit.sujet")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-input
          class="col-sm"
          ref="client"
          v-model="form.client"
        ></b-form-input>
        <label for="client" class="col col-lg-2">{{
          $t("ComplaintEdit.client")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-input
          class="col-sm"
          ref="type"
          required
          v-model="form.type"
        ></b-form-input>
        <label for="email" class="col col-lg-2">{{
          $t("ComplaintEdit.type")
        }}</label>
      </div>

      <div class="row mb-2">
        <div class="col-sm"></div>
        <b-form-textarea
          class="col-sm"
          ref="commentaire"
          v-model="form.commentaire"
          @focus="memorizeInput('commentaire')"
        ></b-form-textarea>
        <label for="commentaire" class="col col-lg-2">{{
          $t("ComplaintEdit.commentaire")
        }}</label>
      </div>

      <b-button type="submit" variant="primary">{{
        $t("ComplaintEdit.submit")
      }}</b-button>
      <b-button type="reset" variant="danger">{{
        $t("ComplaintEdit.clean")
      }}</b-button>
    </b-form>
    <b-card class="mt-3">
      <!-- <pre class="m-0">{{ form }}</pre> -->
      <div class="row">
        <b-button type="reset" @click="inputArabic = ''">{{
          $t("ComplaintEdit.clean")
        }}</b-button>

        <b-form-input
          class="col-sm"
          :placeholder="$t('ComplaintEdit.saisieAr')"
          v-model="inputArabic"
        ></b-form-input>
      </div>

      <SimpleKeyboard
        layout="arabic"
        @onChange="onChange"
        @onKeyPress="onKeyPress"
        :input="inputArabic"
      />
    </b-card>
  </div>
</template>

<script>
import SimpleKeyboard from "@/components/SimpleKeyboard";
export default {
  components: {
    SimpleKeyboard,
  },
  data() {
    return {
      inputArabic: "",
      updatingInput: null,
      typing: 0,
      oldValue: "",
      form: {
        numero: "",
        sujet: "",
        client: "",
        type: "",
        commentaire: "",
      },
      show: true,
    };
  },
  methods: {
    onChange(input) {
      this.inputArabic = input;
      if (this.updatingInput) {
        if (this.typing === 0) {
          this.oldValue = this.form[this.updatingInput];
          this.typing++;
          this.form[this.updatingInput] += input;
        } else {
          this.form[this.updatingInput] = this.oldValue + input;
        }
      }
    },
    onKeyPress(input) {
      console.log("button ", input);
    },
    memorizeInput(ref) {
      this.inputArabic = "";
      switch (ref) {
        case "sujet":
        case "commentaire":
          this.updatingInput = ref;
          this.typing = 0;
          this.oldValue = "";
          break;
        default:
          this.updatingInput = null;
          break;
      }
    },
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.numero = "";
      this.form.sujet = "";
      this.form.client = "";
      this.form.type = "";
      this.form.commentaire = "";
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>