<template>
  <div>
    <div class="row">
      <!--<div class="d-flex justify-content-start">
        <font-awesome-icon icon="reply" class="fas fa-lg" />
      </div> -->
      <div class="col">
        <b-card no-body class="overflow-hidden">
          <b-row no-gutters>
            <b-col md="6">
              <b-card-body>
                <b-navbar-brand to="/">
                  <b-card-text><strong> "ABxxxxxxxxxxxx" </strong></b-card-text>
                </b-navbar-brand>
                <b-card-text> SALIHI Lyazid </b-card-text>
                <b-card-text> JB448265 </b-card-text>
              </b-card-body>
            </b-col>
            <b-col md="6">
              <img
                alt="Folder"
                src="../assets/images/folder.svg"
                width="170"
                height="150"
                class="rounded-0 d-inline-block align-top"
              />
            </b-col>
          </b-row>
        </b-card>
      </div>
    </div>
    <br />
    <div>
      <!-- sidebar
            |
              -- favory
              -- corbeille 
              -- folder i
              -- folder i+1
            -->
    </div>
    <div>
      <!-- details -->
    </div>
    <div class="row">
      <div class="col col-lg-2">
        <ul id="menu-content-folder" class="list-group list-group-flush">
          <li class="list-group-item">
            <font-awesome-icon icon="trash-alt" class="fas fa-2x" />
          </li>
          <li class="list-group-item list-group-item-info">
            <font-awesome-icon icon="layer-group" class="fas fa-4x" />
          </li>
        </ul>
      </div>
      <div class="col mr-3" style="background-color: white">
        <div class="row ml-2">
          <label
            ><font-awesome-icon
              icon="folder-open"
              class="fas fa-lg"
              style="color: Dodgerblue"
            />/</label
          >
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li class="list-group-item">
            <div class="row">
              <div class="col-1">
                <font-awesome-icon icon="reply" class="fas fa-lg" />
              </div>
              <div>..</div>
            </div>
          </li>
          <li class="list-group-item block-info-dossier">
            <div class="row">
              <div class="col-1"><font-awesome-icon icon="folder" /></div>
              <div>dossier1</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-1"><font-awesome-icon icon="folder" /></div>
              <div>dossier1</div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-1"><font-awesome-icon icon="folder" /></div>
              <div>dossier1</div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-1"><font-awesome-icon icon="folder" /></div>
              <div>dossier1</div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-1"><font-awesome-icon icon="file-alt" /></div>
              <div>Morbi leo risus</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-1"><font-awesome-icon icon="file-alt" /></div>
              <div>Morbi leo risus</div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-1"><font-awesome-icon icon="file-alt" /></div>
              <div>Morbi leo risus</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col mr-3 block-info-dossier" >
        <DossierInfo
          :serialIn="uuid"
          :descriptionIn="description"
        ></DossierInfo>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import DossierInfo from "@/components/DossierInfo";
//import SimpleKeyboard from "@/components/SimpleKeyboard";
export default {
  components: {
    //SimpleKeyboard,
    DossierInfo,
  },
  data() {
    return {
      folders: [],
      uuid: "aaaaaaa",
      description: "description",
    };
  },
  computed: {
    ...mapGetters(["detailsCount", "isLoading", "details"]),
  },
  methods: {
    onChange(input) {
      console.log("button ", input);
    },
    onKeyPress(input) {
      console.log("button ", input);
    },
    onSubmit(evt) {
      evt.preventDefault();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$nextTick(() => {});
    },
  },
};
</script>
<style scoped>
.block-info-dossier {
   background-color: white  !important;
    box-shadow: 0 0 5px #0ca8e5;
  border: 1px solid #0ca8e5;
}
</style>