<template>
  <div>
    <div class="client-global"><PlainteList type="all" /></div>
  </div>
</template>
<script>
import PlainteList from "@/components/PlainteList";

export default {
  name: "plaite-global",
  components: {
    PlainteList
  }
};
</script>
