<template>
  <div>
    <template name="slide-fade">
      <br/>
      <div class="row form-inline" bg-variant="white" text-variant="black">
        <div class="col">
          <div class="float-right">
            <div class="form-inline float-right">
              <b-input-group-prepend is-text>
                <b-icon icon="search"></b-icon>
              </b-input-group-prepend>
              <b-form-input
                type="search"
                :placeholder="$t('Codification.searchPlaceholder')"
                v-model="inputSearch"></b-form-input>
              <b-input-group-prepend v-b-toggle.collapse-1 is-text>
                <b-icon icon="keyboard"></b-icon>
              </b-input-group-prepend>
            </div>
            <b-collapse id="collapse-1" class="mt-2 collapse">
                <SimpleKeyboard
                  layout="arabic"
                  @onChange="onChange"
                  @onKeyPress="onKeyPress"
                  :input="inputSearch" />
            </b-collapse>
          </div>
        </div>
        <div class="col">
          <b-button class="float-right  mr-3 btn-add" to="clientEdit">
            <label class="mr-3">{{$t('ClientList.add')}}</label>
            <b-icon icon="person-plus-fill" aria-hidden="true"></b-icon>
          </b-button>
        </div>
      </div>
    </template>
    <br/>
    <div v-if="isLoading" class="client-preview float-right">
      <b-icon icon="circle-fill" animation="spin" font-scale="1"></b-icon>
      <label>{{ $t("ClientList.loading") }}</label>
    </div>
    <div v-else>
      <div v-if="clients.length === 0" class="client-preview float-right">
        <label>{{ $t("ClientList.noResultsFound") }}</label>
      </div>
      <div>
        <template name="slide-fade">
          <div>
            <div class="row form-inline">
              <div class="col-md-1">
                  <router-link to="/complaintEdit">
                    <button class="btn outline-secondary">
                      <b-icon icon="person-plus-fill" font-scale="1" variant="light"/>
                    </button>
                  </router-link>
              </div>
              <div class="col">
                <paginate
                  v-model="currentPage"
                  :page-count="clientsCount"
                  :click-handler="clickCallback"
                  :prev-text="$t('ClientList.prev')"
                  :next-text="$t('ClientList.next')"
                  :container-class="'pagination'"
                  page-class="page-item page-link"
                  next-class="next-class"
                  :page-range="4"
                  :margin:page="2">
                </paginate>
              </div>
              <div class="col  ">
                <label class="float-right  mr-3">
                  {{ $t("Codification.searchResult") }} {{ pagination.totalResults }}
                  {{ $t("Codification.resultsFound") }} {{ pagination.totalPages }}
                  {{ $t("Codification.pages") }}
                </label>
              </div>
            </div> 
          </div>
        </template>
        <b-table :items="clients" :fields="fields" responsive="sm" 
                  :small="true" :no-border-collapse="true" :bordered="true"
                  :head-variant="'dark'">
          <template v-slot:cell(actions)="row">
              <div>
                <b-button-group>
                  <b-button @click="row.toggleDetails" variant="light">
                    <b-icon icon="person-x-fill" font-scale="1" variant="danger"/>
                  </b-button>
                  <b-button @click="row.toggleDetails" variant="light">
                    <b-icon icon="collection-fill" font-scale="1" variant="secondary"/>
                  </b-button>
                  <b-button @click="row.toggleDetails" variant="light"
                            :title="$t('ClientList.show_details')">
                    <b-icon v-if="!row.detailsShowing" icon="caret-down-fill" font-scale="1" variant="info"/>
                    <b-icon v-else icon="caret-up-fill" font-scale="1" variant="info"/>
                  </b-button>
                </b-button-group>
              </div>
          </template>
          <template v-slot:row-details="row" name="slide-fade">
            <b-card>
              <b-row class="mb-2">
                <b-col>{{ row.item.adresse }}</b-col>
                <b-col sm="3" class="text-sm-left"><b>:&nbsp;{{$t('ClientList.adress')}}</b></b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col>{{ row.item.dateNaissance | date }}</b-col>
                <b-col sm="3" class="text-sm-left"><b>:&nbsp;{{$t('ClientList.naissance')}}</b></b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col>{{ row.item.email }}</b-col>
                <b-col sm="3" class="text-sm-left"><b>:&nbsp;{{$t('ClientList.email')}}</b></b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col>{{ row.item.dateCreation | dateHeure }}</b-col>
                <b-col sm="3" class="text-sm-left"><b>:&nbsp;{{$t('ClientList.dateCreation')}}</b></b-col>
              </b-row>

              <b-row class="mb-2">
                <b-col>{{ row.item.dateModification | dateHeure }}</b-col>
                <b-col sm="3" class="text-sm-left"><b>:&nbsp;{{$t('ClientList.dateModification')}}</b></b-col>
              </b-row>
              <b-row class="mb-2">
                <b-col>{{ row.item.commentaire }}</b-col>
                <b-col sm="3" class="text-sm-left"><b>:&nbsp;{{$t('ClientList.commentaire')}}</b></b-col>
              </b-row>
              <b-button @click="row.toggleDetails" variant="light">
                <b-icon icon="caret-up-fill" font-scale="1" variant="info"/>
              </b-button>
            </b-card>
          </template>
        </b-table>
      </div>
      <div class="align-right">
          <paginate
              v-model="currentPage"
              :page-count="clientsCount"
              :prev-text="$t('Codification.prev')"
              :next-text="$t('Codification.next')"
              :container-class="'pagination'"
              page-class="page-item page-link"
              next-class="next-class"
              :page-range="4"
              :margin:page="2">
            </paginate>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { FETCH_CLIENTS } from "../store/actions.type";
import SimpleKeyboard from "@/components/SimpleKeyboard";

export default {
  name: "ClientList",
  components: {
    SimpleKeyboard
  },
  props: {
    itemsPerPage: {
      type: Number,
      required: false,
      default: 10
    }
  },
  data() {
    return {
      currentPage: 1,
      inputSearch: "",
      codifications: [],
      pagination: {
        totalResults: 10,
        totalPages: 2,
        currentPage: 1,
        pageSize: 20,
      },
    }
  },
  computed: {
    fields() {
      return [
        {key: 'actions', label : '', variant: 'light'},
        {key: 'telephone', label : this.$t('ClientList.phoneNumner'), variant: 'light'},
        {key: 'prenom', label : this.$t('ClientList.prenom'), variant: 'light'},
        {key: 'nom', label : this.$t('ClientList.nom'), variant: 'light'},
        {key: 'cin', label : this.$t('ClientList.cin'), variant: 'light'}
      ]
    },
    listConfig() {
      const { type } = this;
      const filters = {
        offset: (this.currentPage - 1) * this.itemsPerPage,
        limit: this.itemsPerPage
      };
      if (this.author) {
        filters.author = this.author;
      }
      if (this.tag) {
        filters.tag = this.tag;
      }
      if (this.favorited) {
        filters.favorited = this.favorited;
      }
      return {
        type,
        filters
      };
    },
    clickCallback(value) {
      return value;
    },
    ...mapGetters(["clientsCount", "isLoading", "clients"])
  },
  watch: {
    currentPage(newValue) {
      this.listConfig.filters.offset = (newValue - 1) * this.itemsPerPage;
      this.fetchClients();
    },
    type() {
      this.resetPagination();
      this.fetchClients();
    },
    author() {
      this.resetPagination();
      this.fetchClients();
    },
    tag() {
      this.resetPagination();
      this.fetchClients();
    },
    favorited() {
      this.resetPagination();
      this.fetchClients();
    }
  },
  mounted() {
    this.fetchClients();
  },
  methods: {
    onChange(input) {
      this.inputSearch = input;
    },
    onKeyPress(button) {
      console.log("button", button);
    },
    onInputChange(input) {
      this.inputSearch = input.target.value;
    },
    fetchClients() {
      this.$store.dispatch(FETCH_CLIENTS, this.listConfig);
    },
    resetPagination() {
      this.listConfig.offset = 0;
      this.currentPage = 1;
    }
  }
};
</script>
<style scoped>
.tbody td{
  border-bottom: 2px solid #18BC9C;
}

.btn-add {
    color: #e1ffff;
    background-color: #2C3E50;
}

.btn-add:hover {
    color: #e1ffff;
    background-color: #18BC9C;
}
</style>
