<template>
  <div class="justify-content-center">
    <br />
    <div class="'block-top'">
      <div class="row">
        <div class="col-md-3">
          <div class="col d-flex justify-content-start">
            <!-- <div class="mr-2">
              <font-awesome-icon icon="info-circle" class="fas fa-mx"  />
            </div> -->
            <div class="mr-2">
              <button class="btn">
                <font-awesome-icon
                  icon="eye"
                  class="fas fa-lg"
                  style="color: #0ca8e5"
                />
              </button>
            </div>
            <div class="mr-2">
              <button class="btn" @click="createNewFolder = true">
                <font-awesome-icon
                  icon="folder-plus"
                  class="fas fa-lg"
                  style="color: #18bc9c"
                />
              </button>
            </div>
            <div class="mr-2">
              <button class="btn" @click="upload = true">
                <!-- {{ $t("DossierInfo.uploadDossiers") }} -->
                <font-awesome-icon
                  icon="file-upload"
                  class="fas fa-lg"
                  style="color: "
                />
              </button>
            </div>
            <div>
              <button class="btn">
                <font-awesome-icon
                  icon="download"
                  class="fas fa-lg"
                  style="color: #c70039"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div :class="remove || product.error ? 'block danger' : 'block'">
      <div id="show" v-show="show">
        <div class="row">
          <div class="col">
            <div class="">
              {{ product.serial }}
            </div>
            <div class="">
              {{ product.description }}
            </div>
            <div class="">
              {{ product.description }}
            </div>
            <div class="">
              {{ product.description }}
            </div>
          </div>
          <div class="col-md-3">
            <div @click="toEdit()">
              <button class="btn">
                <font-awesome-icon
                  icon="edit"
                  class="fas fa-lg"
                  style="color: #0ca8e5"
                />
              </button>
            </div>
            <div @click="toDelete()">
              <button class="btn">
                <font-awesome-icon
                  icon="times"
                  class="fas fa-lg"
                  style="color: #c70039"
                />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="edit" v-show="edit">
        <div class="row">
          <div class="col">
            <div>
              <input
                class="border-input"
                size="sm"
                v-model="productEdit.serial"
                v-on:input="updateSerial($event.target.value)"
              />
            </div>
            <div>
              <input
                class="border-input"
                size="sm"
                v-model="productEdit.description"
                v-on:input="updateDescription($event.target.value)"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="" @click="save()">
              <button class="btn">
                <font-awesome-icon
                  icon="check-circle"
                  class="fas fa-lg"
                  style="color: #18bc9c"
                />
              </button>
            </div>
            <div class="" @click="backEdit()">
              <button class="btn">
                <font-awesome-icon
                  icon="times"
                  class="fas fa-lg"
                  style="color: #c70039"
                />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-show="remove" class="myrows">
        <div class="text-delete">
          {{ $t("DossierInfo.deleteMessage") }}
        </div>
        <div class="action">
          <div class="col-action" @click="removeExecute()">
            <button class="btn">
              <font-awesome-icon
                icon="check-circle"
                class="fas fa-lg"
                style="color: #18bc9c"
              />
            </button>
          </div>
          <div class="col2-action" @click="back()">
            <button class="btn">
              <font-awesome-icon
                icon="times"
                class="fas fa-lg"
                style="color: #c70039"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- import -->
    <br />

    <!-- new folder -->
    <div v-if="createNewFolder">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header justify-content-center">
                <label class="text-header">{{
                  $t("DossierInfo.newDossier")
                }}</label>
              </div>
              <div id="body" class="modal-body pb-5">
                <div class="col">
                  <b-form-input
                    class="textarea"
                    size="sm"
                    rows="7"
                    v-model="newfolderName"
                    :placeholder="$t('DossierInfo.newDossierName')"
                  />
                  <br />
                  <b-form-textarea
                    class="textarea"
                    size="sm"
                    rows="7"
                    v-model="newfolderComment"
                    :placeholder="$t('DossierInfo.newDossierComment')"
                  />
                </div>

                <br />
                <div class="col s12 mb-5 mt-4">
                  <div class="float-right">
                    <button
                      class="btn btn-cancel btn-cancel-text mr-4"
                      @click="createNewFolder = false"
                    >
                      {{ $t("DossierInfo.cancel") }}
                    </button>
                    <button
                      class="btn btn-save btn-save-text"
                      @click="saveComment()"
                    >
                      <span>{{ $t("DossierInfo.save") }}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

    <!-- upload files -->
    <div v-if="upload">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div id="body" class="modal-body-upload pb-5">
                <DocumentEdit />
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import DocumentEdit from "@/views/DocumentEditV0.vue";

export default {
  name: "DossierInfo",
  props: ["serialIn", "descriptionIn"],
  components: { DocumentEdit },
  computed: {},
  data() {
    return {
      show: true,
      remove: false,
      edit: false,
      product: { serial: this.serialIn, description: this.descriptionIn },
      productEdit: { serial: this.serialIn, description: this.descriptionIn },
      newfolderName: "",
      newfolderComment: "",
      createNewFolder: false,
      upload: false,
    };
  },
  methods: {
    toEdit() {
      this.show = false;
      this.remove = false;
      this.edit = true;

      this.productEdit = this.product;
    },
    toDelete() {
      this.show = false;
      this.remove = true;
      this.edit = false;
    },
    save() {
      this.product = this.productEdit;
      this.show = true;
      this.remove = false;
      this.edit = false;
    },
    removeExecute() {
      this.product.deleted = true;
      this.show = true;
      this.remove = false;
      this.edit = false;
    },
    back() {
      this.show = true;
      this.remove = false;
      this.edit = false;
    },
    backEdit() {
      this.back();
    },
    updateSerial: function (value) {
      this.$emit("serialIn", value);
    },
    updateDescription: function (value) {
      this.$emit("descriptionIn", value);
    },
  },
  watch: {
    descriptionIn(val) {
      if (!val) return;
      this.productEdit.description = this.descriptionIn;
    },
    serialIn(val) {
      console.log(val);
      if (!val) return;
      this.productEdit.serial = this.serialIn;
    },
  },
};
</script>

<style scoped>
.px24 {
  width: 32px;
  height: 32px;
}

.block-top {
  align-items: center;
}

.block {
  background-color: #ffffff;
  height: 50%;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  align-items: center;
}

.text {
  min-width: 130px;
  margin: 4px 8px 6px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #282354;
}
.text-delete {
  min-width: 154px;
  margin: 4px 8px 6px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #282354;
  margin: 2px 2px 0px 86px;
}

.danger {
  background-color: rgba(255, 72, 103, 0.14);
}

.border-input {
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.border-input:focus {
  box-shadow: 0 0 5px #0ca8e5;
  border: 1px solid #0ca8e5;
  border-radius: 4px;
}

/** model start*/

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-body {
  width: 456px;
  height: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  font-family: Roboto-Regular !important;
}
.modal-body-upload {
  width: 80%;
  height: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  font-family: Roboto-Regular !important;
}

.modal-header {
  margin: 0px auto;
  width: 456px;
  height: 40px;
  background-color: #18bc9c;
  border-radius: 4px;
}

.text-header {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.modal-default-button {
  float: right;
}

.modal-footer {
  width: 456px;
  height: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  font-family: Roboto-Regular !important;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-label {
  font-size: 19.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: left;
  color: #251e55;
}

.btn-cancel {
  width: 147px;
  height: 48px;
  border-radius: 24px;
  border: solid 2px #251e55;
  background-color: #ffffff;
}

.btn-cancel-text {
  font-size: 13.5px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.04;
  letter-spacing: 2.7px;
  text-align: center;
  color: #251e55;
}
.btn-save {
  width: 169px;
  height: 48px;
  border-radius: 24px;
  background-color: #18bc9c;
}

.btn-save-text {
  font-size: 13.5px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.04;
  letter-spacing: 2.7px;
  text-align: center;
  color: #ffffff;
}

.textarea {
  padding: 16px;
  border-radius: 4px;
  border: solid 1px #4c4c4c;
}

.comment-text {
  width: 190px;
  font-size: 14px;
  border: solid 1px transparent;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #62757f;
  background-color: white;
}
.comment-text::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.comment-text::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}

.comment-text:focus {
  border-color: transparent;
  box-shadow: inset 0 1px 1px white, 0 0 8px white;
}

/** mode end  */
</style>
