<template>
    <footer class="container-fluid footer">
        <div class="text-center">
          <hr>
            <div class="row align-items-center justify-content-md-between">
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; {{year}}
                        <a href="#" target="_blank" rel="noopener">C-AVOCAT</a> & <a href="#" target="_blank" rel="noopener">IT Juriste Solutions</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-footer">
                        <li class="nav-item">
                            <a href="#" class="nav-link" target="_blank" rel="noopener">C-AVOCAT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" target="_blank" rel="noopener">About
                                Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" target="_blank" rel="noopener">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="locale-switch">
          <b-nav-item-dropdown :text="$t(localLang)" right>
            <b-dropdown-item
              v-for="(language, index) in langs"
              :key="index"
              @click="changeLanguage(language)">
              <b-form-radio v-model="localLang" :value="language">{{$t(language)}}</b-form-radio>
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </div> -->
    </footer>
</template>
<script>
export default {
  name: "AppFooter",
    data() {
    return {
    year: new Date().getFullYear(),
      localLang: this.$i18n.locale,
      langs: {
        fr :"fr",
        ar : "ar"
      },
    };
  },
  methods: {
    changeLanguage:function(language){
      if(this.$i18n.locale != language){
        this.$i18n.locale = this.$i18n.fallbackLocale
      }
      this.localLang = language
      this.$i18n.locale = language
    }
  }
};
</script>
<style>
    /*justify-content-end */
    .locale-switch {
        float: none;
        margin: auto;
    }
</style>
