<template>
  <div>
    <nav class="navbar navbar-dark navbar-expand-md bg-primary">
      <div class="navbar-collapse collapse row">
        <div class="col-sm-2">
          <b-collapse id="nav-collapse" is-nav v-if="isAuthenticated">
            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template v-slot:button-content>
                  <em
                    ><b-icon icon="person-circle" aria-hidden="true"></b-icon
                  ></em>
                </template>
                <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
                <b-dropdown-item @click="logout"
                  >{{ $t("Login.sedeconnecter") }}
                  <b-icon icon="power" aria-hidden="true"></b-icon>
                </b-dropdown-item>
              </b-nav-item-dropdown>
              <ul class="nav">
                <li class="nav-item">
                  <a
                    href="http://localhost:8080"
                    class="nav-link"
                    target="_blank"
                    rel="noopener"
                  >
                    {{ $t("Header.Administration") }}
                    <b-icon icon="building" aria-hidden="true"></b-icon
                  ></a>
                </li>
              </ul>
            </b-navbar-nav>
          </b-collapse>
        </div>
        <div class="col" v-if="isAuthenticated">
          <b-nav-form>
            <b-input-group-prepend is-text>
              <b-icon icon="search"></b-icon>
            </b-input-group-prepend>
            <b-form-input
              :placeholder="$t('Header.searchPlaceholder')"
            ></b-form-input>
          </b-nav-form>
        </div>
        <div :class="isAuthenticated ? 'col-sm-2' : 'navbar-collapse collapse'">
          <b-navbar-brand to="/">
            <img class="HomeIcon" alt="Vue logo" src="../assets/logo.png" />
          </b-navbar-brand>
          <b-navbar-brand to="/">
            <img
              class="HomeIcon"
              alt="Keyboard"
              src="../assets/images/keyboard.png"
            />
          </b-navbar-brand>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { LOGOUT } from "@/store/actions.type";

export default {
  name: "AppHeader",
  computed: {
    ...mapGetters(["isAuthenticated"]),
  },

  methods: {
    changeLanguage: function (language) {
      if (this.$i18n.locale != language) {
        this.$i18n.locale = this.$i18n.fallbackLocale;
      }
      this.localLang = language;
      this.$i18n.locale = language;
    },
    logout: function () {
      this.$store.dispatch(LOGOUT).then(() => {
        this.$router.push("login");
      });
    },
  },
};
</script>
<style scoped>
.HomeIcon {
  width: 30px;
  height: 30px;
  top: 8px;
  left: -17px;
}
.row .col {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
</style>