<template>
    <div>
      <div class="row justify-content-center"><h1>{{ msg }}</h1></div>
      <div class="row justify-content-center">
				<button class="MegaMenu_transport"
         			alt="Partenaire">Relation Partenaire</button>
				<button class="MegaMenu_immoubilier"
					alt="Immoublilier">Immoublilier</button>
				<button class="MegaMenu_comptabilite" 
					alt="Caisse">Comptabilité</button>
      </div>
      <div class="row justify-content-center">
		  		<button class="MegaMenu_admin"
					alt="Administration" >Administration</button>
				<button class="MegaMenu_fidelite"
					alt="Fidélité" >Clients</button>
				<button class="MegaMenu_report"
					alt="Reports" >Reports</button>

      </div>
		</div>
</template>

<script>
export default {
	name: "AppMenu"
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.MegaMenu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.MegaMenu_partenaire, .MegaMenu_immoubilier,
	.MegaMenu_admin, .MegaMenu_report,
	.MegaMenu_caisse, .MegaMenu_fidelite {
	height: 160px;
	width: 190px;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #c8c8c8 !important;
	box-shadow: 1px 1px 5px 0px #C4C4C4 !important;
	-moz-box-shadow: 1px 1px 5px 0px #C4C4C4 !important;
	-webkit-box-shadow: 1px 1px 5px 0px #C4C4C4 !important;
	padding-top: 120px;
}

.MegaMenu_partenaire {
	background: transparent;
	background-image: url("~@/assets/images/Mainmenu/partenaire_active.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
}

.MegaMenu_partenaire:hover {
	background: #cf2dc5;
	background-image: url("~@/assets/images/Mainmenu/partenaire.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
	color: white !important;
}

.MegaMenu_immoubilier {
	background: transparent;
	background-image: url("~@/assets/images/Mainmenu/immoubilier_active.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
}

.MegaMenu_immoubilier:hover {
	background: #1e7cba;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("~@/assets/images/Mainmenu/immoubilier.png") !important;
	color: white !important;
}

.MegaMenu_admin {
	background: transparent;
	background-image: url("~@/assets/images/Mainmenu/administration_active.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
}

.MegaMenu_admin:hover {
	background: #2da3cf;
	background-image: url("~@/assets/images/Mainmenu/administration.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
	color: white !important;
}

.MegaMenu_report {
	background: transparent;
	background-image: url("~@/assets/images/Mainmenu/reporting_active.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
}

.MegaMenu_report:hover {
	background: #db6b1a;
	background-image: url("~@/assets/images/Mainmenu/reporting.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
	color: white !important;
}

.MegaMenu_caisse {
	background: transparent;
	background-image: url("~@/assets/images/Mainmenu/caisse_active.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
}

.MegaMenu_caisse:hover {
	background: #2dcf81;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("~@/assets/images/Mainmenu/caisse.png") no-repeat !important;
	color: white !important;
}

.MegaMenu_fidelite {
	background: transparent;
	background-image: url("~@/assets/images/Mainmenu/fidelite_active.png") !important;
	background-repeat: no-repeat;
	background-position: center center;
}

.MegaMenu_fidelite:hover {
	background: #cdcf2d;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("~@/assets/images/Mainmenu/fidelite.png") !important;
	color: white !important;
}
</style>
