<template>
  <div>
    <template name="slide-fade">
      <br/>
      <div class="row form-inline" bg-variant="white" text-variant="black">
        <div class="col">
          <div class="float-right">
            <div class="form-inline float-right">
              <b-input-group-prepend is-text>
                <b-icon icon="search"></b-icon>
              </b-input-group-prepend>
              <b-form-input
                type="search"
                :placeholder="$t('Codification.searchPlaceholder')"
                v-model="inputSearch"></b-form-input>
              <b-input-group-prepend v-b-toggle.collapse-1 is-text>
                <b-icon icon="keyboard"></b-icon>
              </b-input-group-prepend>
            </div>
            <b-collapse id="collapse-1" class="mt-2 collapse">
                <SimpleKeyboard
                  layout="arabic"
                  @onChange="onChange"
                  @onKeyPress="onKeyPress"
                  :input="inputSearch" />
            </b-collapse>
          </div>
        </div>
        <div class="col">
          <b-button class="float-right  mr-3 btn-add" to="complaintEdit">
            <label class="mr-3">{{$t('PlainteList.add')}}</label>
            <b-icon icon="bookmark-plus" aria-hidden="true"></b-icon>
            <b-icon icon="archive-fill" aria-hidden="true"></b-icon>
          </b-button>
        </div>
      </div>
    </template>
    <br/>
    <div v-if="isLoading" class="complaint-preview float-right">
      <b-icon icon="circle-fill" animation="spin" font-scale="1"></b-icon>
      <label>{{ $t("PlainteList.loading") }}</label>
    </div>
    <div v-else>
      <div v-if="complaints.length === 0" class="complaint-preview float-right">
        <label>{{ $t("PlainteList.noResultsFound") }}</label>
      </div>
      <div>
        <template name="slide-fade">
          <div>
            <div class="row form-inline">
              <div class="col-md-1">
                  <router-link to="/complaintEdit">
                    <button class="btn outline-secondary">
                      <b-icon icon="archive-plus-fill" font-scale="1" variant="light"/>
                    </button>
                  </router-link>
              </div>
              <div class="col">
                <paginate
                  v-model="currentPage"
                  :page-count="complaintsCount"
                  :click-handler="clickCallback"
                  :prev-text="$t('Codification.prev')"
                  :next-text="$t('Codification.next')"
                  :container-class="'pagination'"
                  page-class="page-item page-link"
                  next-class="next-class"
                  :page-range="4"
                  :margin:page="2">
                </paginate>
              </div>
              <div class="col  ">
                <label class="float-right  mr-3">
                  {{ $t("Codification.searchResult") }} {{ pagination.totalResults }}
                  {{ $t("Codification.resultsFound") }} {{ pagination.totalPages }}
                  {{ $t("Codification.pages") }}
                </label>
              </div>
            </div> 
          </div>
        </template>
        <b-table :items="complaints" :fields="fields" responsive="sm" 
                  :small="true" :no-border-collapse="true" :bordered="true"
                  :head-variant="'dark'">
          <template v-slot:cell(actions)="row">
              <div>
                <b-button-group>
                  
                  <b-button @click="download()" variant="light">
                    <b-icon icon="download" font-scale="1" variant="secondary"/>
                  </b-button>
                  <b-button @click="remove()" variant="light">
                    <b-icon icon="archive-fill" font-scale="1" variant="danger"/>
                  </b-button>
                  <b-button @click="attachToClient()" variant="light">
                    <b-icon icon="person-fill" font-scale="1" variant="success"/>
                  </b-button>
                  <b-button @click="editer()" variant="light">
                    <b-icon icon="file-earmark-font-fill" font-scale="1" variant="secondary"/>
                  </b-button>
                  <b-button @click="manager(row.item)" variant="light">
                    <b-icon icon="collection-fill" font-scale="1" variant="secondary"/>
                  </b-button>

                </b-button-group>
              </div>
          </template>
        </b-table>
      </div>
      <div class="align-right">
          <paginate
              v-model="currentPage"
              :page-count="complaintsCount"
              :prev-text="$t('PlainteList.prev')"
              :next-text="$t('PlainteList.next')"
              :container-class="'pagination'"
              page-class="page-item page-link"
              next-class="next-class"
              :page-range="4"
              :margin:page="2">
            </paginate>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { FETCH_COMPLAINTS } from "../store/actions.type";
import SimpleKeyboard from "@/components/SimpleKeyboard";

export default {
  name: "ComplaintList",
  components: {
    SimpleKeyboard
  },
  props: {
    itemsPerPage: {
      type: Number,
      required: false,
      default: 10
    }
  },
  data() {
    return {
      currentPage: 1,
      inputSearch: "",
      codifications: [],
      pagination: {
        totalResults: 10,
        totalPages: 2,
        currentPage: 1,
        pageSize: 20,
      },
    }
  },
  computed: {
    fields() {
      return [
        {key: 'actions', label : '', variant: 'light'},
        {key: 'commentaire', label : this.$t('PlainteList.commentaire'), variant: 'light'},
        {key: 'dateModification', label : this.$t('PlainteList.dateModification'), variant: 'light'},
        {key: 'dateCreation', label : this.$t('PlainteList.dateCreation'), variant: 'light'},
        {key: 'type', label : this.$t('PlainteList.type'), variant: 'light'},
        {key: 'sujetPlainte', label : this.$t('PlainteList.sujetPlainte'), variant: 'light'},
        {key: 'client', label : this.$t('PlainteList.client'), variant: 'light'},
        {key: 'numeroPlainte', label : this.$t('PlainteList.numeroPlainte'), variant: 'light'},
        ]
    },
    listConfig() {
      const { type } = this;
      const filters = {
        offset: (this.currentPage - 1) * this.itemsPerPage,
        limit: this.itemsPerPage
      };
      if (this.author) {
        filters.author = this.author;
      }
      if (this.tag) {
        filters.tag = this.tag;
      }
      if (this.favorited) {
        filters.favorited = this.favorited;
      }
      return {
        type,
        filters
      };
    },
    clickCallback(value) {
      return value;
    },
    ...mapGetters(["complaintsCount", "isLoading", "complaints"])
  },
  watch: {
    currentPage(newValue) {
      this.listConfig.filters.offset = (newValue - 1) * this.itemsPerPage;
      this.fetchComplaints();
    },
    type() {
      this.resetPagination();
      this.fetchComplaints();
    },
    author() {
      this.resetPagination();
      this.fetchComplaints();
    },
    tag() {
      this.resetPagination();
      this.fetchComplaints();
    },
    favorited() {
      this.resetPagination();
      this.fetchComplaints();
    }
  },
  mounted() {
    this.fetchComplaints();
  },
  methods: {
    onChange(input) {
      this.inputSearch = input;
    },
    onKeyPress(button) {
      console.log("button", button);
    },
    onInputChange(input) {
      this.inputSearch = input.target.value;
    },
    fetchComplaints() {
      this.$store.dispatch(FETCH_COMPLAINTS, this.listConfig);
    },
    resetPagination() {
      this.listConfig.offset = 0;
      this.currentPage = 1;
    },
    manager(row){
      alert(JSON.stringify(row));
      this.$router.push({ path: `/complaintManagement/${row.numeroPlainte}` });
    }
  }
};
</script>
<style scoped>
.tbody td{
  border-bottom: 2px solid #18BC9C;
}

.btn-add {
    color: #e1ffff;
    background-color: #2C3E50;
}

.btn-add:hover {
    color: #e1ffff;
    background-color: #18BC9C;
}
</style>
