<template>
  <div class="nav-side-menu">
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <li>
            <b-nav-item to="/">
            <label class="mr-3">{{$t('Header.Accueil')}}</label>
            <b-icon icon="house-fill" aria-hidden="true"></b-icon></b-nav-item>
        </li>
        <li>
            <b-nav-item to="/">
              <label class="mr-3">{{$t('Header.Dossiers')}}</label>
              <b-icon icon="folder2" aria-hidden="true"></b-icon>
            </b-nav-item>
        </li>
        <li>
            <b-nav-item to="/">
              <label class="mr-3">{{$t('Header.CalendrierAndTasks')}}</label>
              <b-icon  icon="calendar" aria-hidden="true"></b-icon>
            </b-nav-item>
        </li>
        <li>
            <b-nav-item to="/clients">
              <label class="mr-3">{{$t('Header.Clients')}}</label>
              <b-icon icon="people" aria-hidden="true"></b-icon>
            </b-nav-item>
        </li>
        <li>
            <b-nav-item to="/">
              <label class="mr-3">{{$t('Header.Facturations')}}</label>
              <b-icon icon="cash-stack" aria-hidden="true"></b-icon>
            </b-nav-item>
        </li>
        <li>
            <b-nav-item to="codifications">
              <label class="mr-3">{{$t('Header.Referentiel')}}</label>
              <b-icon icon="gear" aria-hidden="true"></b-icon>
            </b-nav-item>
        </li>
       <!-- <li>
            <b-nav-item-dropdown  :text="$t('Header.Referentiel')" left>
              <b-dropdown-item to="codifications" class="text-right">
                <label>{{$t('Header.Codifications')}}</label>&nbsp;
                <b-icon icon="gear" aria-hidden="true"></b-icon>
                </b-dropdown-item>
            </b-nav-item-dropdown>
        </li> -->
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: "AppSidebar",
  methods: {},
};
</script>
<style scoped>
.HomeIcon {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 8px;
  left: -17px;
}
.nav-side-menu {
   width: 250px;
  position: fixed;
  top: 58px;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: rgb(44, 62, 80);
  color: #e1ffff;
  transition: all 0.3s;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #18BC9C;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #18BC9C;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #18BC9C;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #18BC9C;
  border-top: 1px solid #18BC9C;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid rgb(44, 62, 80);
  border-bottom: 1px solid #18BC9C;
  border-top: 1px solid #18BC9C;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #18BC9C;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-align: right !important;
}
</style>