<template>
  <div id="app">
    <AppHeader />
     <Home />
    <AppFooter />
  </div>
</template>
<script>
import AppHeader from "@/components/Header.vue";
import AppFooter from "@/components/Footer.vue";
import Home from "@/views/Home.vue";

export default {
  components: {
    AppHeader,
    Home,
    AppFooter
  }
}
</script>
<style lang="scss">
@import "./assets/styles/custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.pagination {
  width: 350px;
  margin-top: 1rem !important;
  margin-left: 13.5%;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  color: #4c4c4c;
  transform: rotate(180deg);
}
.pagination li {
  width: 100%;
  transform: rotate(-180deg);
}
.pagination li:first-child {
  width: 100%;
}
.page-item {
  font-family: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: center;
  color: #3c2dbe;
  width: fit-content !important;
}
.page-link {
  width: 450;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 18px;
  color: #c7cdd0;
  background-color: transparent;
  border: 0px solid;
  margin: -3px 0;
  font-size: 19px;
}
.page-link:hover {
  background-color: transparent;
  color: #4c4c4c;
  font-size: 21px !important;
}

.active {
  font-size: 21px !important;
  color: #4c4c4c;
}
.disabled {
  color: #c7cdd0;
}

.next-class {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 19px;
  color: #c7cdd0;
  background-color: transparent;
  border: 0px solid;
  margin: -3px 0;
  font-size: 19px;
}
.next-class:hover {
  background-color: transparent;
  color: #4c4c4c;
}

.prev-class {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 19px;
  color: #c7cdd0;
  background-color: transparent;
  border: 0px solid;
  margin: -3px 0;
  font-size: 19px;
}
.prev-class:hover {
  background-color: transparent;
  color: #4c4c4c;
}
/* navabar style */
.bg-primary {
    background-color: #2C3E50 !important;
}

.bg-primary .navbar-nav .active > .nav-link {
    color: #18BC9C !important;
    font-weight: 400;
}
.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #18BC9C !important;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: 200px !important;
}

.block_container {
    display: flex;
    justify-content: center;
}
</style>

